.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  max-width: 800px;
  height: 50%;
  min-height: 300px;
  border-radius: 8px;
  // overflow-x: hidden;
  .modal__close {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: color 1s ease;
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 15px;
      display: block;
      width: 5px;
      height: 22px;
      border-radius: 5px;
      background-color: white;
      transform: rotate(45deg);
    }
    &::after {
      @extend .modal__close::before;
      transform: rotate(-45deg);
    }
  }
  .modal__containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: auto;
    border-radius: 8px;
    .modal__elem {
      flex-basis: 20%;
      margin: 10px 12px;
      text-align: center;
      .modal__img {
        border-radius: 50%;
      }
      h5 {
        margin: 10px 0;
      }
    }
  }
}
