.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal--backgroundColor;
  width: 90%;
  max-width: 800px;
  height: 70%;
  min-height: 300px;
  border-radius: 8px;
  @include large {
    height: 50%;
  }
  &.modal--active {
    animation: modalActive 0.7s ease-in;
  }

  .modal__close {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 35px;
    height: 35px;
    background-color: $modalCloseBtn--backgroundColor;
    border-radius: 50%;
    cursor: pointer;
    transition: color 1s ease;
    @include large {
      width: 45px;
      height: 45px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 15px;
      display: block;
      width: 5px;
      height: 22px;
      border-radius: 5px;
      background-color: white;
      transform: rotate(45deg);
      @include large {
        top: 11px;
        right: 20px;
      }
    }
    &::after {
      @extend .modal__close::before;
      transform: rotate(-45deg);
    }
  }
  .modal__containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: auto;
    border-radius: 8px;
    .modal__user--elem {
      flex-basis: 30%;
      margin: 10px 12px;
      text-align: center;
      @include medium {
        flex-basis: 40%;
      }
      @include large {
        flex-basis: 25%;
      }
      .modal__user--img--container {
        position: relative;
        height: 80px;
        // for desktop
        // overflow-y: hidden;
        .modal__delete--user {
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            top: 10%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            background-color: $modalDeleteBtn--backgroundColor;
            border-radius: 50%;
            transition: opacity 0.5s ease;
            @include medium {
              left: 68%;
            }
            // for desktop
            // top: 50%;
            // left: 50%;
            // width: 50px;
            // height: 50px;
            // opacity: 0;
          }
          &::before {
            @extend .modal__delete--user::after;
            content: "\00d7";
            color: white;
            font-size: 30px;
            z-index: 1;
            line-height: 25px;
            // for dekstop
            // font-size: 50px;
            // line-height: 40px;
          }
        }
        .modal__user--img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
        }
        &:hover::before,
        &:hover::after {
          opacity: 1;
        }
      }
      h5 {
        margin: 10px 0;
      }
      .button--state-more {
        cursor: pointer;
        @include medium {
          font-size: 12px;
          width: 90px;
          height: 28px;
        }
      }
    }
  }
}

@keyframes modalActive {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
