.card {
  width: 100%;
  max-width: 1000px;
  &--active {
    margin: 15px auto;
    animation: setHeight 1s ease;
  }
}

@keyframes setHeight {
  from {
    height: 0;
  }
  to {
    height: 430px;
  }
}
