.card {
  width: 100%;
  margin: 15px auto;
  @include large {
    max-width: 750px;
  }
  @include desktop {
    max-width: 1000px;
  }
  &--active {
    height: 450px;
    margin: 15px auto;
  }
}

@keyframes setHeight {
  from {
    height: 0;
  }
  to {
    height: 450px;
  }
}
