.card {
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
  &--active {
    height: 450px;
    margin: 15px auto;
  }
}

@keyframes setHeight {
  from {
    height: 0;
  }
  to {
    height: 450px;
  }
}
