.favorite {
  position: fixed;
  top: 70%;
  &.favorite--active {
    animation: favoriteIn 1s both;
    cursor: pointer;
  }
  &.favorite--hide {
    animation: favoriteOut 0.5s both;
  }
  &__img {
    width: 55px;
    height: 55px;
    border: 5px double $favoriteBorder--color;
    border-radius: 66px;
    background: $favoriteBorder--color;
    overflow: hidden;
    @include medium {
      width: 80px;
      height: 80px;
    }
    & > img {
      width: 55px;
      height: 55px;
      @include medium {
        width: 80px;
        height: 80px;
      }
    }
  }
  &__coutner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $favoriteCounter--backgroundColor;
    text-align: center;
    @include medium {
      width: 25px;
      height: 25px;
    }
    & > span {
      color: $favoriteCounter--fontColor;
      font-weight: 700;
      line-height: 20px;
      @include medium {
        line-height: 25px;
        font-size: 15px;
      }
    }
  }
}

@keyframes favoriteIn {
  0% {
    right: -100px;
  }
  100% {
    right: 5px;
  }
}

@keyframes favoriteOut {
  0% {
    right: 5px;
  }
  100% {
    right: -100px;
  }
}
