.favorite {
  position: fixed;
  top: 20%;
  right: -100px;
  cursor: pointer;
  &.active {
    animation: fadeIn 1s both;
  }
  .favorite__img {
    width: 80px;
    height: 80px;
    border: 5px double #fff;
    border-radius: 66px;
    background: #fff;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
