.favorite {
  position: fixed;
  top: 20%;
  &.favorite--active {
    animation: favoriteIn 1s both;
    cursor: pointer;
  }
  &.favorite--hide {
    animation: favoriteOut 0.5s both;
  }
  .favorite__img {
    width: 80px;
    height: 80px;
    border: 5px double #fff;
    border-radius: 66px;
    background: #fff;
    overflow: hidden;
  }
}

@keyframes favoriteIn {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@keyframes favoriteOut {
  0% {
    right: 0;
  }
  100% {
    right: -100px;
  }
}
