.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
  }
}
